*, *::before, *::after {
    font-family: "poppins", sans-serif;
}

@font-face {
    font-family: "poppins";
    src: url(Fonts/AgencyFB-Bold.ttf);
}

body{
    /*background-image: url("Images/Background.jpeg");*/
    background-color: #2c2f33;
}

h1 {
    color: #ffffff;
    font-size: 50pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

h2 {
    color: #ffffff;
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}


p {
    font-size: 20pt;
    line-height: 2;
    color: #ffffff;
    padding: 20px;
}

a {
    text-decoration: none;
}

.MainPillar {
    display: flex;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-type: y mandatory;
}

.Chat {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80pt;
}

.All {
    background-image: url("Images/People1.png");
    display: flex;
    justify-items: center;
    flex-direction: column-reverse;
    align-items: center;
}

.Boosters {
    border-radius: 3%;
    background-color: #1e1f20;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Boosters h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.Boosters img {
    border-radius: 50%;
    padding: 10pt;
}

.BSTPFP {
    width: 800pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.PhotoScreen {
    display: flex;
    scroll-snap-align: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.Buttons img{
    cursor: pointer;
}

button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 0.6em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover {
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
    color: #ffffff;
}

.normalbutton {
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
}

.bluebutton{
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}

.bluebutton:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.MouseIcon {
    display: flex;
    justify-content: flex-end;
}

.mouse_scroll {
	display: block;
	margin: 0 auto;
	margin-top: 90pt;
  margin-bottom: 100%;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}

.One {
  margin-top: 1px;
}

.One, .Two, .Three {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.One {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.Two {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.Three {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}

@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}