*, *::before, *::after {
    font-family: "poppins", sans-serif;
}

@font-face {
    font-family: "poppins";
    src: url(Fonts/AgencyFB-Bold.ttf);
}

body{
    background-color: #2c2f33;
}

h1 {
    color: #ffffff;
    font-size: 50pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

@media screen and (max-width: 1023px) {
h1 {
    color: #ffffff;
    font-size: 25pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    }
}

p {
    font-size: 20pt;
    line-height: 2;
    color: #ffffff;
    padding: 20px;
}

h2 {
    color: #ffffff;
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 0.6em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover {
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
    color: rgb(255, 255, 255);
}

.normalbutton {
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
}

:root {
    --insta-color: #ff9035;
    --redd-color: #e94200;
    --ste-color: #17477e;
    --tik-color: #000000;
    --you-color: #e70000;
}

.instabutton{
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
}

.instabutton:hover {
    border-color: var(--insta-color);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 var(--insta-color) inset, 0 0 10px 4px var(--insta-color);
    transition: all 150ms ease-in-out;
}

.reddbutton{
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
}

.reddbutton:hover {
    border-color: var(--redd-color);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 var(--redd-color) inset, 0 0 10px 4px var(--redd-color);
    transition: all 150ms ease-in-out;
}

.stebutton{
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
}

.stebutton:hover {
    border-color: var(--ste-color);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 var(--ste-color) inset, 0 0 10px 4px var(--ste-color);
    transition: all 150ms ease-in-out;
}

.tikbutton{
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
}

.tikbutton:hover {
    border-color: var(--tik-color);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 var(--tik-color) inset, 0 0 10px 4px var(--tik-color);
    transition: all 150ms ease-in-out;
}

.youbutton{
    border-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
}

.youbutton:hover {
    border-color: var(--you-color);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 var(--you-color) inset, 0 0 10px 4px var(--you-color);
    transition: all 150ms ease-in-out;
}

iframe {
    border-radius: 0.6em;   
}